
<head>
<meta charset="utf-8" />
<title>Sweet Emojis</title>
<link rel="stylesheet"
      href=  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
<link rel="stylesheet" href="../static/css/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body class="bg-dark">
<div class="wrapper">

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="index.html">Sweet Emojis</a>
    </nav>

    <div class="jumbotron">
        <h1 class="display-5">Emoji The Possibilities</h1>
    </div>

    <div class="container">

        <!-- For demo purpose -->
        <header class="text-white text-center">
            <h1 class="display-4">ERROR PAGE</h1>
        </header>
            
        <div class="row py-5">
            <p>
                Whoops! Something went wrong :(. Let us know what happened:
                <a href="mailto:admin@example.com">send email</a>.
            </p>
        </div>
    </div>
</div>

</body>
</html>
